*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: violet;
}
#quote-box{
    background: #fff;
    padding: 5em;
    width: 50%;
    align-items: center;
    margin-top: 10em;
    border-radius: 0.2em;
}

#text{
    justify-content: center;
}